@model WEBAplicacionDeGestionDeCitasMedicas.Models.Tratamiento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tratamiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dosage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dosage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contraindication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contraindication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
